@import "reset";
@import "variables/global";
@import "./themes/dark";
@import "./themes/normal";
@import "./fonts/consolas";
@import "./themes/orange";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid var(--primary-color);  /* creates padding around scroll thumb */
}
